<configuration>

    <logger name="com" level="INFO"/>
    <logger name="com.nurkiewicz" level="ALL"/>
    <logger name="net" level="INFO"/>
    <logger name="org" level="INFO"/>

    <root level="DEBUG">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} | %thread | %-5level | %logger{1} | %msg%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>